.payMultiple{
	margin-top:85px;
	margin-left:130px;
	}
.title_share2{
	display:none;
	}
	.title_schedule2{
	display:none;
	}	

@media(min-width:820px) and (max-width:1100px){
	.hidelabel{
	display:none;
}
.appStoreImages{
	max-width: 100%;height: auto;
}
}
	@media(max-width:320px){
	.title_schedule1{
	display:none;
	}	
	.title_schedule2{
	display:block;
	}	
	}
@media(min-width:1100px){
	.hidelabel{
	display:none;
}
	}	
	
	@media(min-width:1100px){
	.title_share1{
	display:none;
	}
	.title_share2{
	display:block;
	margin-bottom: -15px;
	}
	}
.navbar-toggle{
display:none;
}

#mobile_font{
    display:none;
    }

.e-mail{
	margin-top:15px;
	}
.img_align{
	width:140px;
	height:140px;
}
input#requestbutton {
	border:1px solid #2d2d2d;
	background:#3289b6;
	padding:8px 25px;

	/*box-shadow: 0 0 4px rgba(0,0,0, .75);  */
	color:#ffffff;
	font-size:1.7em;
	cursor:pointer;
}
input#requestbutton:hover, input#requestbutton:focus {
	background-color :#4aa1ce;
	/*box-shadow: 0 0 1px rgba(0,0,0, .75);  */
}
 #footer {

height: 60px;

clear: both;

position: relative;

padding-top: 12px;

padding-bottom: 13px;

background-color:#eeeeee;

text-align: center;

font-size:32px;


}

@media (min-width:250px) and (max-width:299px){
.designation_check{
font-size:11px;
margin-left:-30px;
}
#appStoreDiv{
	margin-top:59%;
	margin-left:13%;
}
.appStore {
	margin-left:10%;
}
.musicnoteLogo{
	width:132px;
	margin-top:12px;
	}
}

@media (min-width:300px) and (max-width:340px){
.designation_check{
font-size:11px;
margin-left:-35px;
}
#appStoreDiv{
	margin-top:57%;
	margin-left:13%;
}
.appStore {
	margin-left:10%;
}
.musicnoteLogo{
	width:132px;
	margin-top:12px;
	}
}

@media (min-width:341px) and (max-width:380px){
.designation_check{
font-size:12px;
}
#appStoreDiv{
	margin-top:50%;
	margin-left:13%;
}
.appStore {
	margin-left:10%;
}
.musicnoteLogo{
	width:132px;
	margin-top:9px;
	}
}
@media (min-width:381px) and (max-width:480px){
.designation_check{
font-size:13px;
}
.musicnoteLogo{
	width:132px;
	margin-top:9px;
	}
}
@media (min-width:381px) and (max-width:463px){

#appStoreDiv{
	margin-top:50%;
	margin-left:18%;
}
.appStore {
	margin-left:5%;
}
}
@media (min-width:481px){
	.appStoreImages{
	border-radius: 10px;
	}
}
@media (max-width:480px){

	#requestbutton1{
	margin-left:-10px;
	}
	.payMultiple{
	margin-top:10px;
	font-size:12px;
	margin-left:22px;
	}
	.appStoreImages{
	border-radius: 6px;
	}
#footer {

height: 60px;

clear: both;

position: relative;

padding-top: 12px;

padding-bottom: 11px;

background-color:#eeeeee;

text-align: center;

font-size:20px;

}
}


.bottom {

	font-size: 15px;
	color: #FFFFFF;
	position:relative;
	background-color:#5f5d5e;

}

.fontStyle{
	font-family:sans-serif;
}

  button {
        
        -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
        -webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
        box-shadow:inset 0px 0px 15px 3px #23395e;
        //height:30px;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #4daff0));
        background:-moz-linear-gradient(top, #2e466e 5%, #4daff0 100%);
        background:-webkit-linear-gradient(top, #2e466e 5%, #4daff0 100%);
        background:-o-linear-gradient(top, #2e466e 5%, #4daff0 100%);
        background:-ms-linear-gradient(top, #2e466e 5%, #4daff0 100%);
        background:linear-gradient(to bottom, #2e466e 5%, #4daff0 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#4daff0',GradientType=0);
        
        background-color:#2e466e;
        
        -moz-border-radius:17px;
        -webkit-border-radius:17px;
        border-radius:17px;
        
        border:1px solid #1f2f47;
        
        display:inline-block;
        color:#ffffff;
        font-size:15px;
        font-weight:normal;
        padding:4px 10px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #263666;
        
    }
    button:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4daff0), color-stop(1, #2e466e));
        background:-moz-linear-gradient(top, #4daff0 5%, #2e466e 100%);
        background:-webkit-linear-gradient(top, #4daff0 5%, #2e466e 100%);
        background:-o-linear-gradient(top, #4daff0 5%, #2e466e 100%);
        background:-ms-linear-gradient(top, #4daff0 5%, #2e466e 100%);
        background:linear-gradient(to bottom, #4daff0 5%, #2e466e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4daff0', endColorstr='#2e466e',GradientType=0);
        
        background-color:#4daff0;
    }
    button:active {
        position:relative;
        top:0.5px;
    }


@media (max-width:463px){
	
	#requestbutton1{
	font-size:9px;
	
	}
	#submit{
	font-size:9px;
	padding: 6px 10px;
	}
     #tab1,#tab2,#tab3{
    height:270px;
    }
    #tab4,#tab5,#tab6,#tab7,#tab8,#tab9{
    height:380px;
    }
    .title_div{
	font-size:14px;
	}
	.child_div{
	font-size:10px;
	}
   #header_title{
   width:200px;
   margin-top:10px;
   }
    #tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8,#tab9{
    width:33.3%;
    }
    .img_align{
    width:100%;
    height:100px;
    }
    #web_font{
    display:none;
    }
    #mobile_font{
    display:block;
    }
    .appStoreImages{
    max-width:22%;
    }
}
@media (min-width:464px)and (max-width:480px){
	#requestbutton1{
	font-size:11px;
	
	}
	#submit{
	font-size:11px;
	padding: 6px 13px;
	}
     #tab1,#tab2,#tab3{
    height:270px;
    }
    #tab4,#tab5,#tab6,#tab7,#tab8,#tab9{
    height:380px;
    }
    .title_div{
	font-size:14px;
	}
	.child_div{
	font-size:10px;
	}
   #header_title{
   width:200px;
   margin-top:10px;
   }
    #tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8,#tab9{
    width:33.3%;
    }
    .img_align{
    width:100%;
    height:100px;
    }
}	
 
 @media (max-width:380px){
   #requestbutton1{
   margin-top:-30px;
   margin-left:35px;
   
   }
   .banner_img{
    float:left;
    width:120px;
    margin-top:-154px;
    margin-left:60%;
    }
    #mobile_font{
	margin-top:-20px;
	}
}

@media (min-width:380px) and (max-width:463px){
	
   #requestbutton1{
   margin-top:-20px;
   margin-left:40px;
   }
   .payMultiple{
   margin-left:25px;
   margin-top:20px;
   }
   #mobile_font{
	margin-top:-20px;
   }
   .banner_img{
    float:left;
    width:140px;
    margin-top:-155px;
    margin-left:60%;
    }
}

@media (min-width:464px) and (max-width:480px){
	#header_title{
	margin-left:0%;
	}
	.banner_img{
	margin-left:320px;
	}
	.appStore {
	margin-left:-3%;
}
}

@media (min-width:480px) and (max-width:768px){
	#header_title{
	padding-left:15%;
	margin-top:30px;
	}
	
	.payMultiple{
	margin-top:45px;
	margin-left:55px;
	}
	.appStoreImages{
	max-width: 22%;height: auto;
	}
}
@media (min-width:730px) and (max-width:768px){
	
	
}
@media (min-width:464px) and (max-width:480px){	
	#requestbutton1{
  	 margin-top:-10px;
  	 margin-left:60px;
   }
   .payMultiple{
   margin-left:-5px;
   }
	#header_title{
	width:400px;
	}
	.banner_img{
    float:left;
    width:151px;
    margin-top:-116px;
    margin-left:60%;
    }
    .appStoreImages {
    max-width:30%;
    }
    
#appStoreDiv {
    margin-left: 21%;
    margin-top: 44%;
}
}
	
@media (min-width:320px) and (max-width:326px){
    .banner_img{
    float:left;
    width:120px;
    margin-top:-154px;
    margin-left:170px;
    }
}
    
@media (min-width:768px) and (max-width:880px){
    .title_div{
	font-size:21px;
	}
	.child_div{
	font-size:17px;
	}
}
 @media (min-width:881px){
    .title_div{
	font-size:26px;
	}
	.child_div{
	font-size:18px;
	}
}   
@media (max-width:310px){
    #designation_2{
    margin-right:-5px;
    }
}
    
@media(min-width:481px) and (max-width:810px){
    #tab1,#tab2,#tab3{
    height:210px;
    }
    #tab4,#tab5,#tab6,#tab7,#tab8,#tab9{
    height:390px;
    }
}
     
@media(min-width:481px) and (max-width:508px){
    .banner_img{
    float:left;
    width:140px;
    margin-top:-142px;
    margin-left:300px;
    }
    .googlePlay {
    margin-left:-11px;
    }
}
     
@media(min-width:509px) and (max-width:570px){
    .banner_img{
    float:left;
    width:200px;
    margin-top:-182px;
    margin-left:60%;
    }
     .googlePlay {
    margin-left:-11px;
    }
    .banner_img{
	margin-left:60%;
	width:204px;
	margin-top:-154px;
	}
}
     
@media(min-width:571px) and (max-width:669px){
   .appStoreImages{
   margin-left:-2%
   } 
   .banner_img{
	margin-left:60%;
	width:250px;
	margin-top:-154px;
	}
}
 @media(min-width:670px) and (max-width:720px){
   .appStore{
	margin-left:-4%;
}
.banner_img{
	margin-left:60%;
	width:250px;
	margin-top:-154px;
	}
}
@media(min-width:720px) and (max-width:768px){
   .appStore{
	margin-left:2%;
}
.banner_img{
	margin-left:60%;
	width:250px;
	margin-top:-154px;
	}
	.appStoreImages{
	max-width: 15%;height: auto;
	}
}   
@media(min-width:481px) and (max-width:768px){
    #tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8,#tab9{
    width:33.3%;
    }
    #requestbutton1{
    margin-top:20px;
    margin-left:45px;
    
    }
    #appStoreDiv{
    margin-left: 12%;
    margin-top:42%;
    }
}
    
@media(min-width:769px) and (max-width:990px){
    
    #tab1,#tab2,#tab3,#tab4,#tab5,#tab6,#tab7,#tab8,#tab9{
    width:33.3%;
    }
    #tab1,#tab2,#tab3{
    height:270px;
    }
    #tab4,#tab5,#tab6,#tab7,#tab8,#tab9{
    height:380px;
    }
   
    #requestbutton1{
    margin-top:30px;
    margin-left:130px;
    font-size:20px;
    }
    .payMultiple{
    margin-top:50px;
    }
    #header_title{
    margin-top:60px;
    padding-left:11%;
    }
    
    
}
 @media(min-width:769px) and (max-width:899px){
  #appStoreDiv{
    margin-left: 12%;
    margin-top:42%;
    }
    .appStoreImages{
   max-width:19%
   } 
    .banner_img{
    float:left;
    width:300px;
    margin-top:-215px;
    margin-left:62%;
    }
 }
@media(min-width:900px){
  .col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  padding-right: 45px;
  padding-left: 45px;
  margin-bottom:60px;
}
}
 @media(min-width:900px) and (max-width:1000px){
	#appStoreDiv{
    margin-left: 12%;
    margin-top:42%;
    }
    .appStoreImages{
   max-width:19%
   } 
    .banner_img{
    float:left;
    width:300px;
    margin-top:-280px;
    margin-left:62%;
    }
 }
 @media(min-width:990px) and max(max-width:1065px){
    #requestbutton1{
    font-size:20px;
    height:50px;
    margin-top:40px;
    margin-left:70px;
    }
	#submit{
	font-size:20px;
	padding: 6px 13px;
	}
    #header_title{
    margin-top:50px;
    margin-left:-10px;
    padding-left:0px;
    }
    
    .col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 45px;
  padding-left: 45px;
}
}   
@media(min-width:1066px){
    #requestbutton1{
    font-size:24px;
    height:50px;
    margin-top:40px;
    margin-left:120px;
    }
	#submit{
	font-size:24px;
	padding: 6px 13px;
	}
    #header_title{
    margin-top:50px;
    margin-left:-10px;
    padding-left:0px;
    }
    
    .col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 45px;
  padding-left: 45px;
  margin-bottom:20px;
}
}

@media(min-width:991px)and (max-width:1065px){
	#requestbutton1{
	margin-left:80px;
	font-size:16px;
	}
	.appStoreImages{
	max-width: 35%;height: auto;
	}
	}
@media(min-width:1001px)and (max-width:1366px){
	#appStoreDiv{
    margin-left: 13%;
    margin-top:30%;
    }
    .appStoreImages{
   max-width:19%
   } 
	}
@media(min-width:1350px)and (max-width:1366px){
	#appStoreDiv{
    margin-left: 13%;
    margin-top:30%;
    }
    .appStoreImages{
   max-width:19%
   } 
   .appStore {
   margin-left:25px;
   }
	}	
@media(min-width:1367px){
	#appStoreDiv{
    margin-left: 13%;
    margin-top:30%;
    }
    .appStoreImages{
   max-width:19%
   } 
   .appStore {
   margin-left:25px;
   }
	}
     